.content {
  background-color: black;
  display: flex;
  flex-direction: column;

  &__lower {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__lower p {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 70px;
  }
  &__info {
    background: #ffe500;
    border-radius: 0px 20px 0px 0px;
    padding: 13px 53px 13px 30px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
  }
  &__one p {
    padding-left: 30px;
  }
  &__two {
    text-align: right;
  }
  &__two p {
    padding-right: 30px;
  }
  & img {
    margin: 60px 76px 0px 75px;
  }
}
.content--top {
  margin-top: 40px;
}
@media screen and (max-width: 1200px) {
  .content img {
    width: 220px;
    margin: 39px 47px 39px 48px;
  }
  .content h3 {
    padding-top: 23px;
    padding-left: 85px;
    font-size: 28px;
  }
  .content__one p {
    font-size: 18px;
  }
  .content__info {
    padding: 17px 39px 13px 19px;
  }
  .content__two p{
    font-size: 18px;
  }
}