.cover {
  padding-top: 60px;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__p {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    margin-top: 64px;
  }
}
@media screen and (max-width: 1200px) {
  .cover__h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
  }
  .cover__p {
    font-size: 20px;
  }
}
