.footer {
  position: relative;
  top: -106px;

  &__container {
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
  }
  &__right {
    display: flex;
  }
  &__text--right {
    display: flex;
  }
  &__text p a {
    text-decoration: underline;
  }
  &__text--right p a {
    text-decoration: underline;
  }
  &__text--right p {
    margin-left: 40px;
  }
}
@media screen and (max-width: 1200px) {
  .footer__container {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    flex-direction: column;
    line-height: 30px;
  }
  .footer__text {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer__right {
    justify-content: center;
  }
}
