.list {
  display: flex;
  justify-content: flex-end;
  padding-top: 117px;

  &__content {
    padding-right: 477px;
  }
  &__ticks ul li {
    background: url(../img/image_15.png) no-repeat left 50%;
    padding-left: 25px;
  }
  &__2 {
  display: flex;
  justify-content: space-around;
}
}
@media screen and (max-width: 1200px) {
  .list{
    padding: 0;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .list__content {
    padding: 0;
  }
  .list__2 {
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
  }
}
