
.menu {
    display: flex;
    margin: 0 -15px;

    &__link{
        padding: 50px 25px 50px 25px;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        white-space: nowrap;
    }
}   
@media screen and (max-width: 1200px) {
  .menu {
    position: absolute;
    opacity: 0;
    flex-direction: column;
    margin-left: -50px;
    margin: 0;
  }
}