.panel {
  background-image: url(../img/222.png);
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #5c6bc0;
  justify-content: center;
  align-items: center;

  & p {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
}
}