.soc {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-left: 102px;
  margin-right: 102px;
  &__icon {
      margin-right: 26px;
  }
}
@media screen and (max-width: 1200px) {
  .soc {
    position: absolute;
    z-index: -1;
    flex-direction: column;
  }
}