@import "menu";
@import "button";
@import "links";
@import "soc";
@import "logo";
@import "content";
@import "panel";
@import "list";
@import "container";
@import "cover";
@import "scroll";
@import "blocks";
@import "up";
@import "boy";
@import "footer";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: radial-gradient(circle, #000000 0%, rgba(0, 0, 0, 1) 100%)
    no-repeat center center fixed;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .menu {
    margin: 0 -15px;
  }
}
.image__logo {
  margin-top: 232px;
}
h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 82px;
  line-height: 70px;
  margin-right: 27px;
}
.products {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}
h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 70px;
  padding-top: 51px;
  padding-left: 165px;
}
h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 62px;
  line-height: 70px;
}
.blur {
  position: relative;
}

h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 70px;
}
ul li {
  list-style: none;
  background: url(../img/image_14.png) no-repeat left 50%;
  padding-left: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
}
.underside {
  display: flex;
  justify-content: center;
  margin-top: 237px;
}
.text {
  margin-right: 168px;
}
.png-background {
  background: url(/img/globus.png);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1200px) {
  .image__logo {
    margin-top: 161px;
  }
  .header {
    justify-content: flex-start;
  }
}
