@import "menu";
@import "button";
@import "links";
.block {
  height: 1080px;
  background-image: url(../img/11.png), url(../img/22.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset black 0px -20px 62px 45px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle, #000000 0%, rgba(0, 0, 0, 1) 100%)
    no-repeat center center fixed;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1256px;
  margin: 0 auto;
  padding: 0 15px;
}
.cover {
  padding-top: 60px;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
}
.logo img {
  width: 141%;
  margin-right: 260px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .menu {
    margin: 0 -15px;
  }
}

.container_plus {
  max-width: 1424px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container_inner {
  width: 100%;
  max-width: 600px;
  padding: 0 15px;
}
.soc_icon {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-left: 102px;
  margin-right: 102px;
}
.image {
  margin-right: 26px;
}

.image_logo {
  margin-top: 232px;
}
h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 82px;
  line-height: 70px;
  margin-right: 27px;
}
.cover p {
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  margin-top: 64px;
}
.scroll {
  display: flex;
  align-items: center;
  padding-top: 164.45px;
}
.scroll p {
  padding-left: 15px;
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
}
.block_2 {
  background-image: url(../img/221.png),
    url(../img/Depositphotos_243392382_X.png);
  height: 1253px;
  box-shadow: inset 43px 47px 93px 84px rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset black 0px 20px 110px 122px;
}
.up {
  display: flex;
  align-items: center;
  padding-top: 142px;
}
.line {
  flex: auto;
  border-bottom: 0px;
  background-color: gray;
}
.products {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}
.content {
  background-color: black;
  display: flex;
  flex-direction: column;
}
.content img {
  margin: 60px 76px 0px 75px;
}
h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 70px;
  padding-top: 51px;
  padding-left: 165px;
}
.lower_content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.lower_content p {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 70px;
}
.more_info {
  background: #ffe500;
  border-radius: 0px 20px 0px 0px;
  width: 170px;
  height: 50px;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}
.column_one p {
  padding-left: 30px;
}
.column_two {
  text-align: right;
}
.column_two p {
  padding-right: 30px;
}
.panel {
  background-image: url(../img/222.png);
  height: 220px;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #5c6bc0;
  justify-content: center;
  align-items: center;
}
.panel p {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
}
h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 62px;
  line-height: 70px;
}
.get_whitepapers {
  width: 260px;
  border-radius: 50px;
  background: #ffe500;
  box-shadow: 0px 10px 15px rgba(255, 229, 0, 0.1),
    0px 4px 6px rgba(255, 229, 0, 0.05);
  height: 60px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 164px;
}
.get_whitepapers p {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  padding-left: 12.4px;
}
.block_3 {
  background-image: url(/img/Depositphotos_286543058_XL.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset black 2px -20px 200px 303px;
}
.body__boy {
  background: rgba(255, 255, 255, 0.01);
  filter: blur(100px);
  backdrop-filter: blur(100px);
  position: absolute;
}
.blur {
    position: relative;
}
.body {
  display: flex;
  justify-content: space-between;
  padding-top: 144px;
}
.body__text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  width: 620px;
}
h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 70px;
}
.list {
  display: flex;
  justify-content: flex-end;
  padding-top: 117px;
}
ul li {
  list-style: none;
  background: url(../img/image_14.png) no-repeat left 50%;
  padding-left: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
}
.block_4 {
  background: url(../img/galaxy.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset black 0px -20px 320px 154px;
}
.list__content {
  padding-right: 477px;
}
.list_ticks ul li {
  background: url(../img/image_15.png) no-repeat left 50%;
  padding-left: 25px;
}
.list_content_2 {
  padding-right: 352px;
}
.list_2 {
  display: flex;
  justify-content: space-around;
}
.underside {
  display: flex;
  justify-content: center;
  margin-top: 237px;
}
.text {
  margin-right: 168px;
}
.footer__container {
  margin-top: 42px;
  display: flex;
  justify-content: space-between;
}
.footer__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
.footer__right {
  display: flex;
}
.footer__text--right {
  display: flex;
}
.footer__text p a {
  text-decoration: underline;
}
.footer__text--right p a {
  text-decoration: underline;
}
.footer__text--right p {
  margin-left: 40px;
}
.footer {
  position: relative;
  top: -106px;
}
.png-background {
  background: url(/img/globus.png);
  background-repeat: no-repeat;
  background-position: center;
}
